<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">CrudComAngular</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >

          <div class="btn-group dropdown">
            <button type="button" [routerLink]="['/products']" class="btn btn-secondary">Produtos</button>
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu">
              <button class="dropdown-item" [routerLink]="['/products']" type="button"><i class="fas fa-list"></i> Lista</button>
              <button class="dropdown-item" [routerLink]="['/products/new']" type="button"><i class="fas fa-plus"></i> Novo</button>
            </div>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
